

# testing data
testing_data/*
data/*
data-outputs/*
cog-outputs/*
web-docs/cog/*
tiles*
*.lock
*.h5

# VSCode
.vscode/*

# Mac
**/.DS_Store
.dbus*

# History and AWS
.aws
.bash_history
.cache
.local
.python_history

# Make dotfiles
.bcm
.dsm
.dtm
.nlaz
.dq-tao
.chm

# hide secrets
.creds
.config
